@import url(https://fonts.googleapis.com/css?family=Open+Sans);

*, *:before, *:after {
  box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    font-family: 'Open+Sans', sans-serif;
    background-color: #092756; 
    height: 100%;
    padding: 10px;
}

a {
  color: #EE4B5E !important;
  text-decoration:none;
}
a:hover {
  color: #FFFFFF !important;
  text-decoration:none;
}

.text-wrapper {
    height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.title {
    font-size: 5em;
    font-weight: 700;
    color: #fff;
}


.isi {
    font-size: 18px;
    text-align: center;
    margin:30px;
    padding:20px;
    color: white;
}
.buttons {
    margin: 30px;
        font-weight: 700;
        border: 2px solid #fff;
        text-decoration: none;
        padding: 15px;
        text-transform: uppercase;
        color: #fff;
        border-radius: 26px;
        transition: all 0.2s ease-in-out;
        display: inline-block;
        
        .buttons:hover {
            background-color: #fff;
            color: white;
            transition: all 0.2s ease-in-out;
        }
  }

    