
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/* display */
.d-block{
	display:block;
}
.d-inline{
	display:inline;
}
.d-inline-block{
	display:inline-block;
}
.d-none{
	display:none;
}

/* text-color */
.text-white{
	color:#fff;
}
.text-black{
	color:#000;
}
.text-grey{
	color:#808080;
}
.text-grey-light{
	color:#d3d3d3;
}
.text-grey-dark{
	color:#a9a9a9;
}
.text-discord-text{
	color:#4a77d4;
}

/* padding */
.p-1{
	padding:1rem;
}
.p-2{
	padding:2rem;
}
.p-3{
	padding:3rem;
}
.p-4{
	padding:4rem;
}
.p-5{
	padding:5rem;
}


/* margin */
.m-1{
	margin:1rem;
}
.m-2{
	margin:2rem;
}
.m-3{
	margin:3rem;
}
.m-4{
	margin:4rem;
}
.m-5{
	margin:5rem;
}


/* flex */
.flex{
	display:flex;
}
.flex-row{
	flex-direction:row;
}
.flex-column{
	flex-direction:column;
}
.justify-center{
	justify-content:center;
}
.justify-between{
	justify-content:space-between;
}
.justify-around{
	justify-content:space-around;
}
.align-center{
	align-items:center;
}
.align-start{
	align-items:flex-start;
}
.align-end{
	align-items:flex-end;
}

/* btn */
.btn {
  display: inline-block;
  padding: 4px 10px 4px;
  margin: 10px 0;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#ffffff),
    to(#e6e6e6)
  );
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #e6e6e6;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
    0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
    0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
    0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
 
}
.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  background-color: #e6e6e6;
}
.btn-large {
  padding: 9px 14px;
  font-size: 15px;
  line-height: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.btn-primary,
.btn-primary:hover {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
}
.btn-primary.active {
  color: rgba(255, 255, 255, 0.75);
}
.btn-primary {
  background-color: #4a77d4;
  background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4);
  background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#6eb6de),
    to(#4a77d4)
  );
  background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4);
  background-image: -o-linear-gradient(top, #6eb6de, #4a77d4);
  background-image: linear-gradient(top, #6eb6de, #4a77d4);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);
  border: 1px solid #3762bc;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
    0 1px 2px rgba(0, 0, 0, 0.5);
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  filter: none;
  background-color: #4a77d4;
}
.btn-block {
  width: 100%;
  display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  background: #092756;
  background: -moz-radial-gradient(
      0% 100%,
      ellipse cover,
      rgba(104, 128, 138, 0.4) 10%,
      rgba(138, 114, 76, 0) 40%
    ),
    -moz-linear-gradient(top, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4)
          100%),
    -moz-linear-gradient(-45deg, #670d10 0%, #092756 100%);
  background: -webkit-radial-gradient(
      0% 100%,
      ellipse cover,
      rgba(104, 128, 138, 0.4) 10%,
      rgba(138, 114, 76, 0) 40%
    ),
    -webkit-linear-gradient(top, rgba(57, 173, 219, 0.25) 0%, rgba(
            42,
            60,
            87,
            0.4
          )
          100%),
    -webkit-linear-gradient(-45deg, #670d10 0%, #092756 100%);
  background: -o-radial-gradient(
      0% 100%,
      ellipse cover,
      rgba(104, 128, 138, 0.4) 10%,
      rgba(138, 114, 76, 0) 40%
    ),
    -o-linear-gradient(top, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4)
          100%),
    -o-linear-gradient(-45deg, #670d10 0%, #092756 100%);
  background: -ms-radial-gradient(
      0% 100%,
      ellipse cover,
      rgba(104, 128, 138, 0.4) 10%,
      rgba(138, 114, 76, 0) 40%
    ),
    -ms-linear-gradient(top, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4)
          100%),
    -ms-linear-gradient(-45deg, #670d10 0%, #092756 100%);
  background: -webkit-radial-gradient(
      0% 100%,
      ellipse cover,
      rgba(104, 128, 138, 0.4) 10%,
      rgba(138, 114, 76, 0) 40%
    ),
    linear-gradient(
      to bottom,
      rgba(57, 173, 219, 0.25) 0%,
      rgba(42, 60, 87, 0.4) 100%
    ),
    linear-gradient(135deg, #670d10 0%, #092756 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
}

nav {
  width: 100%;
  height: 60px;
  background: #092756;
  line-height: 60px;
  border-bottom: 4px solid #092756;
}

.container{
	display: flex;
	align-items: center;
	justify-content: space-evenly
}

.title{
	color: #fff;
	text-decoration: none;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
}

.login-img{
	width: 500px;
    height: 500px;
    margin-bottom: 20px;
    border-radius: 50%;
}

.login h1,
.register h1,
.register p {
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  letter-spacing: 1px;
  text-align: center;
}

.register button{
  	margin: 0 auto 30px;
    width: 40%;
}

.register a{
	color: #4a77d4;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	letter-spacing: 1px;
	text-align: center;
	text-decoration: none;
}

.register a:hover{
	color: #7595d6;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	letter-spacing: 1px;
	text-align: center;
	text-decoration: none;
}

input {
  width: 100%;
  margin-bottom: 10px;
  background: rgba(0, 0, 0, 0.3);
  border: none;
  outline: none;
  padding: 10px;
  font-size: 13px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2),
    0 1px 1px rgba(255, 255, 255, 0.2);
  -webkit-transition: box-shadow 0.5s ease;
  -moz-transition: box-shadow 0.5s ease;
  -o-transition: box-shadow 0.5s ease;
  -ms-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
}
input:focus {
  box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4),
    0 1px 1px rgba(255, 255, 255, 0.2);
}

/* register */
.register-link {
  color: #fff;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.5);
  padding: 7px;
  border-radius: 2px;
  transition: all 0.5s ease;
  opacity: 0.5;
  margin-top: 10px;
}

.register-link:hover {
  background: rgba(0, 0, 0, 0.7);
  opacity: 1;
  box-shadow: 0 0 5px rgba(-255, -255, 255, 0.5);
}

.register-form-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 300px;
  filter: blur(0px);
}

.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  width: 20%;
  background: rgba(0, 0, 0, 0.3);
  border: none;
  outline: none;
  padding: 10px;
  font-size: 13px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2),
    0 1px 1px rgba(255, 255, 255, 0.2);
  -webkit-transition: box-shadow 0.5s ease;
  -moz-transition: box-shadow 0.5s ease;
  -o-transition: box-shadow 0.5s ease;
  -ms-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
  height: 250px;
}
.avatar-preview{
	display: flex;
}


input#file-upload-button{
  margin: 0 auto 30px;
  width: 50%;
  background-color: #092756;
}

#avatar-preview-img{
  width: 150px;
  height: 150px;
  border: 1px solid #092756;
  border-radius: 50%;
  margin-bottom: 10px;
  display: none;
}

/* profile */
.profile-form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	border: 2px solid black;
	border-radius: 10px;
	padding: 1rem;
}

.profile{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
	margin: 0 auto;
}

.container h1{
	text-align: center;

}

.profile-info{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
	margin: 0 auto;
}


/* Create Server */








/* Radio Buttons */
fieldset {
  @extend.roundedborder;
  margin-bottom:2em;
  padding:.5em .5em;
}

input[type='radio'] {
  appearance:none;
  border: solid .1em lighten($bg,7%);;
  @include border-radius(50%);
  background-color:darken($bg, 5%);
  color:#f0f;
  cursor:pointer;
  height:2.5em;
  width: 2.5em;
  margin-top:0;
  vertical-align:text-top;
}

input[type="radio"]:checked:after {
  background-color:lighten($bg,15%);
  border-radius:50%;
  content:"\00a0";
  display:block;
  position:relative;
  height:1.5em;
  width:1.5em;
  margin:.4em;
}

/* Dropdown Box */
.styled-select {
  display:inline-block;
  @extend .roundedborder;
  background-color: lighten($bg, 5%);
  color: darken($bg, 10%);
  cursor:pointer;
  font-size:1.1em;
  margin-bottom:1.5em;
  padding:.25em 0;
  position:relative;
  width:15em;
}

.styled-select:before {
  font-family: "FontAwesome"; 
  border: solid 1px darken($bg,10%);
  border-width: 0 0 0 1px;
  content:'\f103';
  color:darken($bg,15%);
  font-size:1.25em;
  padding-left:.25em;
  position:absolute;
  pointer-events:none;
  right:.35em;
}

select {
    appearance:none;
    background-color:transparent;
    border:none;
    cursor:pointer;
    color: darken($bg, 10%);
    display:inline-block;
    font-size:1em;
    margin:0; padding:0 2em 0 1em;
    width:100%;
}

/* Text Area */
textarea {
  @extend .roundedborder;
  background-color: darken($bg, 5%);
  color: lighten($text, 10%);
  font-size:1em;
  height:10em;
  margin:.5em 0 1em;
  padding:1em;
  width:100%;
}

/* Checkbox */
input[type='checkbox'] {
  appearance:none;
  @extend .roundedborder;
  background-color:darken($bg, 5%);
  cursor:pointer;
  font-size:1em;
  padding: .25em;
  height:1em; width:1em;
  vertical-align:text-top;
}

input[type='checkbox']:checked:after {
  border:solid $text;
  border-width:0 4px 4px 0;
  content:"\00a0";
  display:block;
  height:1em; width:.5em;
  margin-top:-.9em;
  position:relative;
  transform:rotate(45deg); 
}


/* Submit Button */
input[type='submit'] {
  @extend .roundedborder;
  border: 3px solid darken($bg, 10%);
  background-color:lighten($bg, 5%);
  cursor:pointer;
  color:lighten($bg,50%);
  float:right;
  font-size:1.5em;
  padding: .25em 1em;
  @include text-shadow(.1em .1em .2em #333);
}
input[type='submit']:hover {background-color:darken($bg,5%);}










/* footer */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #092756;
  color: #fff;
  text-align: center;
  padding-top: 10px;
}

