<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          {%if logged_in%}
          <li><a href=""></a></li>
          <li><a href=""></a></li>
          <li><a href=""></a></li>
          {%else%}
          <li><a href=""></a></li>
          {%endif%}
        </ul>
      </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}  
    </main>
    <footer>
        <p>Clon De Discord 2023 &copy; </p>

    </footer>
  </body>
</html>

