{% extends 'bases.html' %}


{% block content %}
<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>404</h1>
            <h2>Page not found</h2>
        </div>
        <a href="#">Volver</a>
                <a href="index.html" target="_blank">Pagina De Inicio</a>
    </div>
</div>

{% endblock %}

not found 404 

texto + imagen + redirige al index 

en formulario

llenar inputs mande por consola el nombre del servidor y descripcion

clickear en servidores tambien 

gradientes 243

